/* Reset styles to remove browser defaults */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
  /* Global styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
}
.section {
  overflow-anchor: none;
  z-index: 1;
}

ul {
  list-style: none;
}

/* about styles */
.about {
  background-position-y: 4440;
  background-size: cover;
  background-position: center;
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 80px;
  color: #444;
  text-align: center;
}

.about h1 {
  font-size: 64px;
  font-weight: bold;
  color: #444;
  margin-bottom: 20px;
}

.about p {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 40px;
}

/* Projects styles */
.projects {
  max-width: 1200px;
  margin: 80px auto;
  padding: 0 20px;
  color:#444;
}
.projects h2 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  color:#444;
}
.projects a {
  color:#444;
}
.projects p {
  color:#444;
  text-align: center;
}

/* Contact styles */
.contact {
  max-width: 1200px;
  margin: 80px auto;
  padding: 0 20px;
  color:#444;
}
.contact h2 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  color:#444;
}
.contact a {
  color:#444;
}

/* Side Panel */
.card {
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.name {
  color: white;
  font-size: 24px;
}
.job-title {
  color: grey;
  font-size: 18px;
}
.school {
  color: grey;
  font-size: 18px;
}
.side-btn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #333;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
#sidepanel a {
  text-decoration: none;
  font-size: 22px;
  color: rgb(255, 255, 255);
}
button:hover, a:hover {
  opacity: 0.7;
}
#social-table {
  table-layout: auto;
  margin-left: auto;
  margin-right: auto;
}
#social-table-footer{
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0%;
}
#social-table-footer a {
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
#social-table-footer a:hover {
  color: #f1f1f1;
}
footer p {
  font-size: 20px;
  text-align: center;
}

/* The sidepanel menu */
#sidepanel {
  height: 0px; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #444;
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
  padding-top: -40px; /* Place content -40px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
#sidepanel a {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
#sidepanel a:hover {
  color: #f1f1f1;
}


/* Open Button */
.navbar {position: relative;}
.openbtn {
  position: absolute;
  font-size: 2;
  cursor: pointer;
  background-color: #444;
  color: white;
  padding: 10px 14px;
  border: none;
  border-radius: 50px;
  top: 10px;
  left: 10px;
} 
.openbtn:hover {
  background-color: #444;
}

/* Close Button */
.button-container {position: relative;}
.button-container .closebtn {
  position: absolute;
  bottom: 225px; /*button position*/
  right: 10px; /*button position*/
  font-size: 20px;
  cursor: pointer;
  background-color: #444;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 25px;
}
.closebtn:hover {
  background-color: #444;
}
.sticky {
  position: fixed;
  top: 5;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}  
.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
  margin-top: 8px;
  vertical-align: middle;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.column2 {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
  margin-top: 8px;
  vertical-align: middle;
}
.row2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#ClickMe {
  margin-top: 5px;
  margin-left: 4%;
  position:absolute;
  left:0;top:0;
}
@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
  .column2 {
    flex: 50%;
    max-width: 50%;
  }
  #ClickMe {
    margin-left: 6%;
  }
}
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .column2 {
    flex: 100%;
    max-width: 100%;
  }
  #ClickMe {
    margin-left: 9%;
  }
}